
@{
    ViewBag.Title = "Contactos";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!--interfaz principal-->
<div class="card mb-3 ">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h2 id="tituloContactos" class="text-center pb-3">!Contáctanos <b>y caminemos al éxito!</b></h2>
                <img style="width:100%" src="~/Content/img/contactos.svg" />
            </div>
            <div class="col-sm-6">
                <h2 id="tituloContactos1" class="text-center">!Contáctanos <b>y caminemos al éxito!</b></h2>
                <figure class="text-end pt-4">
                    <blockquote class="blockquote">
                        <p>FACULTAD DE CIENCIAS EMPRESARIALES</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Lic. Andrea Flores <br />
                        Correo: <cite title="Source Title">andrea.flores@upds.edu.bo</cite>
                    </figcaption>
                </figure>
                <figure class="text-end pt-4">
                    <blockquote class="blockquote">
                        <p>FACULTAD DE CIENCIAS JURÍDICAS</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Lic. Noemi Jarsun<br />
                        Correo: <cite title="Source Title">noemi.jarsun@upds.edu.bo</cite>
                    </figcaption>
                </figure>
                <figure class="text-end pt-4">
                    <blockquote class="blockquote">
                        <p>TECNOLOGÍA</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Ing. Osmar Mendoza <br />
                        Correo: <cite title="Source Title">osmar.mendoza@upds.edu.bo</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
