
@{
    ViewBag.Title = "ARevisar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!--Interfaz Principal-->
<h4>Proyecciones Pendientes</h4>
<div class="card mb-3">
    <div class="card-body" style="height:500px">
        <div class="row">
            <div class="col-sm-12">
                <div id="cargando" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="cargado" class="table table-responsive-sm visually-hidden">
                    <table id="tabla" class="table table-striped table-bordered display" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Listar();
    });

    //Tabla
    var tabla = $('#tabla').DataTable({
        columns:            [
            { title: "#", width: '5%' },
            { title: "Fecha", width: '10%' },
            { title: "Carrera", width: '30%' },
            { title: "Estudiante", width: '30%' },
            { title: "CI", width: '10%' },
            { title: "Opciones", width: '15%' }
            ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });

    //Listar
    function Listar()
    {
        $.getJSON('@Url.Action("Listar", "VerificacionProyeccion")', {estadoBoleta: 3}, (data) => {
            tabla.destroy();
            dataset = data;
            tabla = $('#tabla').DataTable({
                columns:
                    [
                        { title: "#", width: '5%' },
                        { title: "Fecha", width: '10%' },
                        { title: "Carrera", width: '34%' },
                        { title: "Estudiante", width: '29%' },
                        { title: "CI", width: '9%' },
                        { title: "Opciones", width: '13%' }
                    ],
                data: dataset,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
            $("#cargando").addClass('visually-hidden');
            $("#cargado").removeClass('visually-hidden');
        });
    }

    //Imprimir Boleta
    function Imprimir(id)
    {
        var url = '@Url.Action("ImprimirBoletaEstudiante", "Reportes")' + '?idBole=' + id;;
        window.open(url);
    }

</script>



