
@{
    ViewBag.Title = "BuscarOferta";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>Buscar Oferta</h4>
<div class="card mb-3" style="min-height:500px">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Buscar por Materia:</label>
                <div class="input-group mb-3">
                    <input type="text" id="idBuscarMateria" hidden="hidden" />
                    <input type="search" class="form-control" oninput="BuscarMateria(this.value)" id="nombreBuscarMateria" />
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <div class="col-sm-12" style="padding-top:0">
                <ul class="list-group" id="ListarMateriasBuscadas" style="padding-top:0">
                    <!--Lista de Materias-->
                </ul>
                <div id="spinnerBuscarTabla" class="d-flex justify-content-center visually-hidden">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="table table-responsive-sm">
                    <table style="width:100%" class="table table-bordered table-hover">
                        <thead class="text-white text-center" style="background-color: #34495E" id="trCabecera">
                            <!--cabecera table-->
                        </thead>
                        <tbody id="trMaterias">
                            <!--cuerpo table-->
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script>

    //Buscar Materia
    function BuscarMateria(materia) {
        $("#trCabecera").html("");
        $("#trMaterias").html("");
        $.getJSON('@Url.Action("BuscarMateria", "Proyeccion")', { "materia": materia }, function (o) {
            $("#ListarMateriasBuscadas").html("");
            for (var i = 0; i < o.length; i++) {
                var opcion = "<li class='list-group-item list-group-item-action d-flex justify-content-between align-items-center dato-materia'  onclick='SeleccionarMateriaBuscada(" + o[i].Id + ")' >" + o[i].Nombre + "<span class='badge bg-primary rounded-pill' >" + o[i].Sigla + "</span></li >";
                $("#ListarMateriasBuscadas").append(opcion);
            };
        });
    }

    //Seleccionar Materia Buscada
    function SeleccionarMateriaBuscada(id) {
        $.getJSON('@Url.Action("SeleccionarMateriaBuscada", "Proyeccion")', { Id: id }, function (o) {
            $("#idBuscarMateria").val(o.Id);
            $("#nombreBuscarMateria").val(o.Nombre);
            $("#ListarMateriasBuscadas").html("");
            BuscarMateriaOferta(id);
        });
    }

    //Buscar Materia en la Oferta
    function BuscarMateriaOferta(id) {
        $("#trCabecera").html("");
        $("#trMaterias").html("");
        $("#spinnerBuscarTabla").removeClass('visually-hidden');
        $.getJSON('@Url.Action("BuscarMateriaOferta", "Proyeccion")', { Id: id }, function (o) {
            if (o != "") {
                $("#trCabecera").append("<tr><th scope='col'>#</th><th scope='col'>Carrera</th><th scope='col'>Materia</th><th scope='col'>Módulo</th><th scope='col'>Semestre</th><th scope='col'>Turno</th></tr>");
                for (var i = 0; i < o.length; i++) {
                    var opcion = "<tr><th scope='row' style='width: 5%'>" + o[i].num + "</th><td style='width: 30%'>" + o[i].carrera + "</td><td style='width: 30%'>" + o[i].materia + "</td><td style='width: 10%'>" + o[i].modulo + "</td><td style='width: 15%'>" + o[i].semestre + "</td><td style='width: 10%'>" + o[i].turno + "</td></tr>";
                    $("#trMaterias").append(opcion);
                };
            }
            else {
                Toast("warning", "La materia no está disponible en la oferta");
            }
            $("#spinnerBuscarTabla").addClass('visually-hidden');
        });
    }
</script>
