
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!--Interfaz Principal-->
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger text-center" role="alert">
                    Sin Acceso
                </div>
            </div>
        </div>
    </div>
</div>

